@model Auto3D.Web.ViewModels.Orders.OrderDeleteViewModel

@{ this.ViewData["Title"] = "Delete Order"; }
<div class="row justify-content-center">
    <form asp-area="Administration" asp-controller="Orders" asp-action="Delete" method="post" class="text-center col-md-4">
        <h4>@this.ViewData["Title"]</h4>
        <hr />

    <fieldset disabled="">
        <div class="form-group">
            <label asp-for="RecipientFullName"></label>
            <input asp-for="RecipientFullName" class="form-control col-md-12" value="@Model.RecipientFullName" />
            <span asp-validation-for="RecipientFullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipientPhoneNumber"></label>
            <input asp-for="RecipientPhoneNumber" class="form-control col-md-12" value="@Model.RecipientPhoneNumber" />
            <span asp-validation-for="RecipientPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control col-md-12" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryAddress"></label>
            <input asp-for="DeliveryAddress" class="form-control col-md-12" value="@Model.DeliveryAddress" />
            <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" rows="4" readonly class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        @if (Model.CompanyName != null
     && Model.AccountablePerson != null
     && Model.CompanyAddress != null
     && Model.CICNumber != null)
        {
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control col-md-12" value="@Model.CompanyName" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
                    <div class="form-group">
                        <label asp-for="CompanyAddress"></label>
                        <input asp-for="CompanyAddress" class="form-control col-md-12" value="@Model.CompanyAddress" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>

                                    <div class="form-group">
                                        <label asp-for="CICNumber"></label>
                                        <input asp-for="CICNumber" class="form-control col-md-12" value="@Model.CICNumber" />
                                        <span asp-validation-for="CICNumber" class="text-danger"></span>
                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="AccountablePerson"></label>
                                                        <input asp-for="AccountablePerson" class="form-control col-md-12" value="@Model.AccountablePerson" />
                                                        <span asp-validation-for="AccountablePerson" class="text-danger"></span>
                                                    </div>}
    </fieldset>
        <button type="submit" class="btn btn-danger text-center mt-2">Delete Order</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
