@model Auto3D.Web.ViewModels.Products.ProductsAllViewModel

@{ var brand = Model.Products.Select(x => x.CarBrand).FirstOrDefault();
                var model = Model.Products.Select(x => x.CarModel).FirstOrDefault();
                var year = Model.Products.Select(x => x.CarYear).FirstOrDefault();
                ViewData["Title"] = $"Products for {brand} {model} {year}";}

<div class="album text-center" id="two">
    <div class="my-3 py-3">
        <h2>
            @this.ViewData["Title"]

            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
<a type="button" class=" btn btn-primary" asp-area="Administration" asp-controller="Products" asp-action="Create" asp-route-carId="@Model.CarId">Add Product</a>}
        </h2>
    </div>

    <div class="container">

        <form method="get" asp-controller="Products" asp-action="All">
            <div class="row d-flex justify-content-between">
                <input type="hidden" asp-for="@Model.CarId" />
                <div class="form-group">
                    <label class="text-primary">Search</label>
                    <input class="btn btn-outline-primary" name="SearchString" value="@Model.SearchString">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                </div>
                <input type="hidden" name="Page" value="@Model.PageNumber">
                <div class="form-group">
                    <label class="text-primary">Show</label>
                    <select class="btn btn-outline-primary" name="PageSize" onchange="this.form.submit();">
                        <option value="6" selected="@(Model.PageSize == 6 ? true : false)">6</option>
                        <option value="12" selected="@(Model.PageSize == 12 ? true : false)">12</option>
                        <option value="24" selected="@(Model.PageSize == 24 ? true : false)">24</option>
                        <option value="48" selected="@(Model.PageSize == 48 ? true : false)">48</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-primary">Sort by</label>
                    <select class="btn btn-outline-primary" name="Sorter" id="Sorter" onchange="this.form.submit();">
                        <option value="1" selected="@(Model.Sorter.ToString() == "Name" ? true : false)">Name</option>
                        <option value="2" selected="@(Model.Sorter.ToString() == "Price" ? true : false)">Price</option>
                        <option value="2" selected="@(Model.Sorter.ToString() == "PriceDesc" ? true : false)">Price (desc.)</option>
                        <option value="2" selected="@(Model.Sorter.ToString() == "Discount" ? true : false)">Discount</option>
                        <option value="2" selected="@(Model.Sorter.ToString() == "DiscountDesc" ? true : false)">Discount (desc.)</option>
                    </select>
                </div>
                <a class="text-primary" asp-action="All" asp-route-carId="@Model.CarId">Back to List</a>
            </div>
        </form>
        <hr />

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
            @foreach (var item in Model.Products)
            {
<div class="col-lg-3 col-sm-12 col-12 d-flex flex-column my-2">
    <div class="card">

        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
            <img style="height: 170px; width: 100%" class="card-img-top shadow" src="@item.PictureUrl" alt="Card image cap">
        </a>

        <div class="card-body p-0">
            <h5 class="card-text m-1">@item.Name @item.CarBrand @item.CarModel @item.CarYear</h5>
            @*<p class="card-text text-muted pb-1">@item.Name</p>*@
            @if (item.Discount == 0)
            {
                <h4 class="card-text p-1">$@item.Price</h4> }
                    else
                        {
                        <h4 class="card-text p-1"><small><s>$@item.Price</s></small> /$@item.Discount</h4>}

        </div>

        <div class="btn-group">
            <a type="button" class="btn btn-sm btn-outline-secondary button" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                    <a type="button" class="btn btn-sm btn-outline-secondary button" asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Delete</a>}
        </div>
    </div>
</div>}
        </div>
    </div>
    <div class="d-flex justify-content-around my-3">
        @Html.PagedListPager((IPagedList)Model.Products,
                                                      page => Url.Action("All",
                                                          new
                                                          {
                                                              CarId = Model.CarId,
                                                              PageNumber = page,
                                                              PageSize = Model.PageSize,
                                                              Sorter = Model.Sorter,
                                                              SearchString = Model.SearchString,
                                                          }),
                                                      new PagedListRenderOptions
                                                      {
                                                          MaximumPageNumbersToDisplay = 5,
                                                          LiElementClasses = new string[] { "page-item" },
                                                          PageClasses = new string[] { "page-link" }
                                                      })
    </div>
</div>
