@model IEnumerable<Auto3D.Web.ViewModels.ShoppingCart.ShoppingCartProductViewModel>

@if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown col-md-12" style="max-width: 100%">
        <div class="dropdown collapse navbar-collapse d-flex" id="navbarNav">
            <div class="dropdown-toggle nav-link text-white" id="dropdownMenuLink" data-toggle="dropdown">
                <i class="fas fa-cart-shopping fa-2xl"></i>&nbsp;
            </div>
            @if (Model.Count() != 0)
            {
<span class="badge badge-pill badge-light">@Model.Count()</span>                }
            <div class="dropdown-menu">
                @foreach (var shopingCartProduct in Model)
                {
<div class="d-flex justify-content-around">
    <a class="dropdown-item col-md-11" asp-area="" asp-controller="Activities" asp-action="Details" asp-route-id="@shopingCartProduct.ProductId">
        <img src="@shopingCartProduct.ProductPictureUrl" width="50" height="50">
        <span>@shopingCartProduct.ProductName</span>
        <span> @shopingCartProduct.Quantity x </span>
        @if (shopingCartProduct.ProductDiscount == "No Discount")
        {
            <span><b>$@shopingCartProduct.ProductPrice</b></span> }
                                else
                                {
                                    <span><b>$@shopingCartProduct.ProductPrice/@shopingCartProduct.ProductDiscount</b></span>
                                }
    </a>
    <a class="col-md-1 text-danger px-0" asp-area="" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@shopingCartProduct.Id">
        <i class="fas fa-times"></i>
    </a>
</div>}
                @if (!Model.Any())
                {
<a class="text-center dropdown-item">
    <em class="text-muted">Empty shopping cart</em>
</a>}
                <div class="text-center">
                    <b>Total sum: $@(Model.Sum(x => x.ShoppingCartProductTotalPrice))</b>
                </div>
                <a class="dropdown-item text-center" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                    Open shopping cart
                </a>
            </div>
        </div>
    </li>
</ul>}
