@model Auto3D.Web.ViewModels.Index.IndexAllViewModel

@{ this.ViewData["Title"] = "Choose your car brand";}

<div class="p-3 p-md-5 m-md-3"  style="background: #888888; " id="one">
    <div class="container ">

        <h2 class="text-center text-white mb-4">
            @this.ViewData["Title"]
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
        <a type="button" class=" btn btn-primary" asp-area="Administration" asp-controller="CarBrands" asp-action="Create">Add Brand</a>}  
        </h2>

        <div class="row">
            @foreach (var item in Model.Brands)
            {
                <div class="col-md-3 my-4  text-center"> 
                    <a type="button" class="btn w-100 brandButtons shadow" style="height: 60px; background: #EFEFEF;" asp-area="" asp-controller="Cars" asp-action="All" asp-route-brandId="@item.Id"><img src="@item.Logo" style="width:48px;" />@item.Brand</a>
                </div>}

            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                  <hr class="bg-white">

                  @foreach (var item in Model.Brands)
                  {
                    <div class="col-md-3 my-4  text-center">
                        <a class=" btn btn-danger w-100 brandButtons" style="height:60px" asp-area="Administration" asp-controller="CarBrands" asp-action="Edit" asp-route-id="@item.Id"><img src="@item.Logo" style="width:48px;" />@item.Brand @*<i class="fa-solid fa-trash-can text-white"></i>*@ <i class="fa-solid fa-pen-to-square"></i></a>
                    </div>}     }
        </div>
    </div>
</div>
